* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", "Lato", sans-serif;
  color: #414141;
  background-color: #e4f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  color: #2b2b2b;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  margin: auto;
  text-align: center;
}

.icon {
  margin-left: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: #03be9f;
  border: 1px solid #03be9f;
  border-radius: 6px;
  color: #dafff7;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

  &:hover,
  &:active {
    background-color: #02afa1;
    border-color: #02afa1;
  }
}

@import "./components/components";
